{% extends "base.html" %}

{% block HEADER_TITLE %}{{ HEADER_TITLE }}{% endblock %}
{% block PAGE_TITLE %}{{ PAGE_TITLE }}{% endblock %}

{% block CSS %}
h3.section-title {
    color: #57a8de;
}
.dataset-container {
    width: max;
    overflow-x: auto;
    white-space: nowrap;
}
{% endblock %}
{% block BODY %}
<h3 class="section-title">Dataset split info</h3>
{{ SCHEMA_LOCATION }}
{{ TRAIN_SPLIT_NUM_ROWS }}
{{ VALIDATION_SPLIT_NUM_ROWS }}
{{ TEST_SPLIT_NUM_ROWS }}
{{ NUM_DROPPED_ROWS }}
{{ EXECUTION_DURATION}}
{{ RUN_END_TIMESTAMP }}
{{ RUN_STATUS }}

{% endblock %}
