{% extends "base.html" %}

{% block STEP_TITLE %}Ingest{% endblock %}

{% block CSS %}
h3.section-title {
    color: #57a8de;
}
.dataset-container {
    width: max;
    overflow-x: auto;
    white-space: nowrap;
}
{% endblock %}
{% block BODY %}
<h3 class="section-title">Dataset info</h3>
{{ DATASET_SOURCE }}
{{ RESOLVED_DATASET_LOCATION }}
{{ DATASET_SIZE }}
{{ DATASET_NUM_ROWS }}
<hr>
<h3 class="section-title">Dataset schema</h3>
<div class="dataset-container">
{{ DATASET_SCHEMA }}
</div>
<hr>
<h3 class="section-title">Dataset sample</h3>
<div class="dataset-container">
{{ DATASET_SAMPLE }}
</div>

{% endblock %}
